<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .stuTab,
        .addStu {
            margin: auto;
            width: 600px;
            border-collapse: collapse;
        }

        .addStu {
            width: 750px;
        }

        .stuTab th,
        .stuTab td {
            border: 1px solid orange;
            padding: 10px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }

        .stuTab th {
            background-color: orange;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="addStu">
            <label for="">编号: <input type="text" name="" id="" v-model="id" :disabled='flag'></label>
            <label for="">姓名: <input type="text" name="" id="" v-model="name"></label>
            <label for="">性别: <input type="text" name="" id="" v-model="sex"></label>
            <button @click='handelAddStudent'>提交</button>
        </div>
        <table class="stuTab">

            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
            <tr v-for="stu in students" :key="stu.id">
                <td>{{stu.id}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.sex}}</td>
                <td>
                    <a href="" @click.prevent="toEdit(stu.id)">修改</a>
                    <span>|</span>
                    <a href="" @click.prevent='removeStudent(stu.id)'>删除</a>
                </td>
            </tr>
        </table>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    flag: false,
                    students: [{
                        id: 1,
                        name: 'zs',
                        sex: '男'
                    }, {
                        id: 2,
                        name: 'lili',
                        sex: '女'
                    }, {
                        id: 3,
                        name: 'Tom',
                        sex: '男'
                    }, {
                        id: 4,
                        name: 'Jerry',
                        sex: '女'
                    }],
                    id: '',
                    name: '',
                    sex: ''
                }
            },
            methods: {
                handelAddStudent() {
                    if (this.flag) {
                        // 用户点击修改 修改好数据，点击提交，数据会到这里来  此时进入这个分支
                        this.students.some(item => {
                            if (item.id == this.id) {
                                item.name = this.name;
                                item.sex = this.sex;
                                return true;
                            }
                        });
                        this.flag = false;
                    } else {
                        // 根据填写的学生生成一个学生对象
                        let stu = {
                            id: this.id,
                            name: this.name,
                            sex: this.sex
                        };
                        this.students.push(stu);
                    }
                    // 清空表单元素
                    this.id = '';
                    this.name = '';
                    this.sex = '';
                },
                toEdit(id) {
                    // 点击修改  禁止添加学生
                    this.flag = true;
                    // 根据id查到对应学生的信息，然后填充到表单
                    let student = this.students.filter(stu => {
                        return stu.id === id;
                    });
                    // console.log(student);
                    this.id = student[0].id;
                    this.name = student[0].name;
                    this.sex = student[0].sex
                },
                removeStudent(id){
                    let index = this.students.findIndex(stu =>stu.id == id)
                    this.students.splice(index,1)
                }
            },
        })
    </script>
</body>

</html>